<div class="flex flex-col h-full">

  <button class="hidden sm:block fixed top-0 right-0 m-5 cursor-pointer w-fit z-10" (click)="toggleFlip()"
    [innerHTML]="getIcon('info')">
  </button>


  <!--IMAGE CONTAINER-->
  <div
    class="flex-1 relative flex items-center justify-center w-full overflow-hidden p-1 sm:p-2 transition-opacity duration-300 ease-in"
    [ngClass]="{
        'opacity-100': hasLoaded,
        'opacity-0': !hasLoaded
    }">
    <!-- Pulsante SINISTRO (precedente) -->
    <button
      class="hidden sm:block absolute left-4 top-1/2 -translate-y-1/2 z-10 bg-primary text-info rounded-full p-3 shadow-md transition-colors cursor-pointer"
      (click)="goToPrevious()" aria-label="Precedente" [innerHTML]="getIcon('prev')">
    </button>

    <!-- Pulsante DESTRO (successiva) -->
    <button
      class="hidden sm:block absolute right-4 top-1/2 -translate-y-1/2 z-10 bg-primary text-info rounded-full p-3 shadow-md transition-colors cursor-pointer"
      (click)="goToNext()" aria-label="Successiva" [innerHTML]="getIcon('next')">
    </button>

    <!-- Contenuto centrale -->
    <!-- CARD 3D WRAPPER -->
    <div class="relative w-full h-full max-w-full max-h-full perspective">
      <div class="w-full h-full transition-transform duration-700 preserve-3d" [class.rotate-y-180]="isFlipped">
        <!-- FRONT: Immagine -->
        <div class="absolute inset-0 backface-hidden flex items-center justify-center">
          <img *ngIf="content; else noImage" 
                [src]="content.imageUrl" 
                (load)="loaded()" 
                (click)="showViewer()"
            alt="Immagine"
            class="max-w-full max-h-full object-contain select-none cursor-zoom-in border-4 border-primary bg-bg-image" />
        </div>

        <!-- BACK: Info -->
          <div
            class="absolute inset-y-10 inset-x-96 backface-hidden rotate-y-180 bg-white flex items-center justify-center border-4 border-primary p-26">
            <div class="text-center text-gray-700">
              <h2 class="text-lg font-semibold mb-2">Informazioni</h2>
              <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
            </div>
          </div>
      </div>
    </div>

    <ng-template #noImage>
      <div class="text-center text-green-500 font-semibold text-lg p-6 w-full">
        <div class="text-4xl mb-2">🌿</div>
        {{ "NO_IMAGE" | translate }}
      </div>
    </ng-template>
  </div>

  <!--MOBILE BUTTONS CONTAINER-->
  <div class="border block sm:hidden w-full">
    <app-card-detail-footer 
      (goNextEvent)="goToNext()" 
      (goPreviousEvent)="goToPrevious()"
      (showInfoEvent)="toggleFlip()">
    </app-card-detail-footer>
  </div>

</div>