<div class="flex flex-col h-full">

  <!--IMAGE CONTAINER-->
  <div class="flex-1 relative flex items-center justify-center w-full overflow-hidden p-1 sm:p-2">
    <!-- Pulsante SINISTRO (precedente) -->
    <button
      class="hidden sm:block absolute left-4 top-1/2 -translate-y-1/2 z-10 bg-primary text-info rounded-full p-3 shadow-md transition-colors cursor-pointer"
      (click)="goToPrevious()" aria-label="Precedente" [innerHTML]="getIcon('prev')">
    </button>

    <!-- Pulsante DESTRO (successiva) -->
    <button
      class="hidden sm:block absolute right-4 top-1/2 -translate-y-1/2 z-10 bg-primary text-info rounded-full p-3 shadow-md transition-colors cursor-pointer"
      (click)="goToNext()" aria-label="Successiva" [innerHTML]="getIcon('next')">
    </button>

    <!-- Contenuto centrale -->
      <img
        *ngIf="content"
        [src]="content.imageUrl"
        alt="Immagine"
        data-zoomable
        class="max-w-full max-h-full object-contain select-none cursor-zoom-in border-4 border-primary bg-bg-image"
      />
  </div>

  <!--MOBILE BUTTONS CONTAINER-->
  <div class="border block sm:hidden w-full">
    <app-card-detail-setup
      (goNextEvent)="goToNext()"
      (goPreviousEvent)="goToPrevious()"
      (showInfoEvent)="showInfo = $event">
    </app-card-detail-setup>
  </div>
  
</div>