<div class="w-full flex items-center justify-center">

  <div (mouseover)="showTitle()" (mouseout)="hideTitle()"
    class="relative w-full max-w-md overflow-hidden rounded-[18px] border-3 border-primary bg-primary shadow-xl hover:scale-[1.02] hover:shadow-2xl"
    [ngClass]="{
      'opacity-0 w-0 h-0': !hasLoaded,
      'opacity-100': hasLoaded,
    }">
    <div class="transition-all duration-500 ease-in-out overflow-hidden bg-primary" [ngClass]="{
      'max-h-32 py-3 opacity-100': hasTitle,
      'max-h-0 py-0 opacity-0': !hasTitle
    }">
      <div class="relative z-10 px-3">
        <h2 class="text-center text-2xl font-extrabold text-info tracking-tight">
          {{ content.title || 'Progetto senza titolo' }}
        </h2>
      </div>
    </div>
    <div
      class="relative z-10 w-full flex items-center justify-center overflow-hidden bg-white cursor-pointer min-h-[200px]" 
      (click)="onClickImageEvent.emit(content)">
      <!-- Setta dimesioni fisse per i character (rimuovere min-h-[200px] da classe sopra)
      [ngClass]="{
        'min-h-[400px]': isCharacter,
        'min-h-[200px]': !isCharacter,
      }" -->
      
      <!-- Spinner sempre presente, nascosto quando l'immagine è caricata -->
      
      
      <!-- Immagine nascosta finché non è caricata -->
      <img *ngIf="content.imageUrl" 
        #imgRef
        [ngClass]="{'max-h-[400px]': content.isGif}"
        (load)="hasLoaded = true" 
        [src]="content.imageUrl" 
        [alt]="content.title"
        class="w-full h-auto object-contain select-none transition-opacity duration-300" />
    </div>

  </div>
  
  <ng-container *ngIf="!hasLoaded && content.imageUrl">
    <div class="relative flex items-center w-full h-54">
      <div class="loader z-10"></div>
    </div>
  </ng-container> 

</div>
