<div [ngClass]="{'bg-navbar rounded-bl-3xl rounded-br-3xl': isMenuOpen}">
    <div class="h-24 w-screen bg-primary rounded-bl-3xl rounded-br-3xl flex text-info border border-black">
        <div class="cursor-pointer w-1/6 h-full flex items-center justify-center"> 
            <div (click)="navigateToHome()">
                 <img [src]="getIcon('logo')" class="w-[72px]">
            </div>
        </div>
        <div class="w-4/6 h-full pr-2 flex items-center justify-center text-3xl font-bold text-info  font-serif">
            {{ user.nick }}
        </div>
        <div class="w-1/6 h-full flex items-center justify-center" (click)="toggleMenu()" [innerHTML]="getIcon('burgerMenu')">
        </div>
    </div>
    <nav #navMenu *ngIf="isMenuOpen" class="space-y-4 bg-navbar py-6">
      
      <a *ngFor="let b of buttons;" 
        class="flex items-center text-info justify-center"
        [routerLink]="[`/${b.path}`]" routerLinkActive="router-link-active" (click)="toggleMenu()" >
        <div [innerHTML]="getIcon(b.imageSVG!)" class="pr-4"></div>
        {{ b.label }}
      </a>
      <a [href]="instaram.link" target="_blank" and rel="noopener noreferrer"
        class="flex items-center text-info justify-center">
        <div [innerHTML]="getIcon(instaram.icon)" class="pr-4"></div>
        {{ instaram.nick }}
      </a>

    </nav>
</div>