<div class="flex h-screen bg-secondary overflow-hidden border-4 border-green-500">

  <!-- Sfondo pattern sotto -->
  <div class="fixed top-0 left-0 w-screen h-screen bg-opacity-50" [innerHTML]="getIcon('background')"></div>
  
  <!-------------------------------->
  <div class="flex w-full z-10 border-4 border-amber-700">

    <!-- Sidebar ms+ -->
    <div *ngIf="!isHome()" class="top-0 left-0 h-screen z-20 hidden sm:block">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Navbar sm- -->
    <div class="h-24 fixed top-0 left-0 w-screem z-20 block sm:hidden">
      <app-navbar></app-navbar>
    </div>

    <!-- Spazio per contenuto scrollabile -->
    <div class="flex-1 overflow-y-auto sm:mt-0 mt-24 border-4 border-blue-600" 
        [ngClass]="{ 
          'scrollbar-hide': isScreenSm,
          'scrollbar-show': !isScreenSm,
        }">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>