<div class="mx-10 mt-8 h-fit lg:h-11/12 border-4 flex flex-col lg:flex-row  text-info lg:overflow-hidden">

    <div class="border w-full flex justify-center items-center xl:text-lg px-5 lg:px-10 pt-10 pb-5 bg-primary overflow-auto scrollbar-hide">
        <p class="whitespace-pre-line mt-3">
            {{ user.description }}
        </p>
    </div>

    <div class="border w-full flex justify-center items-center sm:px-10 md:px-5">
        <div class="max-w-5/6 py-8 ">
            <img [src]="user.image" class="border-primary border-3 select-none">
        </div>
    </div>
</div>
<div class="lg:hidden sm:mt-20 mt-52"></div>