<div class="h-full bg-primary w-64 p-6 shadow-xl rounded-tr-3xl rounded-br-3xl flex flex-col justify-between">
  <div>
    <button class="pt-6 text-3xl font-bold text-info mb-10 font-serif w-5/6 select-none transition-opacity duration-300 ease-in cursor-pointer"
        (click)="redirectToHome()"
        [ngClass]="{
          'opacity-100': hasLoaded,
          'opacity-0': !hasLoaded
        }">
      <img [src]="logo" (load)="hasLoaded = true">
    </button>  

    <nav class="flex flex-col space-y-4">
      
      <a *ngFor="let btn of buttons; trackBy: trackById;" 
        class="flex items-center text-info"
        [routerLink]="[`/${btn.path}`]" routerLinkActive="underline">
        <div [innerHTML]="getIcon(btn.imageSVG!)" class="pr-4"></div>
        <p>{{ btn.label | translate }}</p>
      </a>
      <a [href]="instagram.link" target="_blank" and rel="noopener noreferrer"
        class="flex items-center text-info">
        <div [innerHTML]="getIcon(instagram.icon)" class="pr-4"></div>
        {{ instagram.nick }}
      </a>

    </nav>
    
  </div>
  <div class="text-sm text-info mt-10">
    <div class="w-7 pb-2">
      <app-language-button [showText]="true"></app-language-button>
    </div>
    <p>&copy; {{`2025 ${user.firstName} ${user.lastName}`}}</p>
    <p *ngIf="user.slogan" class="italic">"{{user.slogan}}"</p>
  </div>
</div>
