<div class="h-screen bg-primary w-64 p-6 shadow-xl rounded-tr-3xl rounded-br-3xl flex flex-col justify-between">
  <div>
    <h1 class="pt-6 text-3xl font-bold text-info mb-10 font-serif w-5/6 select-none">
      <!-- <img [src]="fNameGif">
      <img [src]="lNameGif"> -->
      <img [src]="logo">
    </h1>
    <nav class="space-y-4">
      
      <a *ngFor="let b of buttons; trackBy: trackById;" 
        class="flex items-center text-info"
        [routerLink]="[`/${b.path}`]" routerLinkActive="router-link-active" >
        <div [innerHTML]="getIcon(b.imageSVG!)" class="pr-4"></div>
        {{ "ILLUSTRATIONS" | translate }}
      </a>
      <a [href]="instagram.link" target="_blank" and rel="noopener noreferrer"
        class="flex items-center text-info">
        <div [innerHTML]="getIcon(instagram.icon)" class="pr-4"></div>
        {{ instagram.nick }}
      </a>

    </nav>
  </div>
  <div class="text-sm text-info mt-10">
    <button (click)="toggleLanguage()" class="cursor-pointer w-6">
      <img [src]="`${basePath}${lang()}${extens}`" class="pointer-events-none">
    </button>
    <p>&copy; {{ `2025 ${user.firstName} ${user.lastName}`}}</p>
    <p *ngIf="user.slogan" class="italic">"{{user.slogan}}"</p>
  </div>
</div>
