<div class="h-full bg-primary w-64 p-6 shadow-xl rounded-tr-3xl rounded-br-3xl flex flex-col justify-between">
  <div class="flex flex-col justify-center items-center gap-y-10">
    
    <button class="pt-6 text-3xl font-bold text-info font-serif w-5/6 select-none transition-opacity duration-300 ease-in cursor-pointer"
        (click)="redirectToHome()"
        [ngClass]="{
          'opacity-100': hasLoaded,
          'opacity-0': !hasLoaded
        }">
      <img [src]="logo" (load)="hasLoaded = true">
    </button>  

    <nav class="flex flex-col space-y-4">
      
      <a *ngFor="let btn of buttons; trackBy: trackById;" 
        class="flex items-center text-info"
        [routerLink]="[`/${btn.path}`]" routerLinkActive="underline">
        <div [innerHTML]="getIcon(btn.imageSVG!)" class="pr-4"></div>
        <p>{{ btn.label | translate }}</p>
      </a>
      <a [href]="user().instagram.link" target="_blank" and rel="noopener noreferrer"
        class="flex items-center text-info">
        <div [innerHTML]="getIcon(user().instagram.icon)" class="pr-4"></div>
        {{ user().instagram.nick }}
      </a>

    </nav>
    
  </div>

  <div class="text-sm mt-5 text-info flex flex-col items-center justify-center">
    <div class="w-40">
      <div class="w-7 pb-3">
        <app-language-button [showText]="true"></app-language-button>
      </div>
    </div>
    <p>&copy; {{`${year} ${user().firstName} ${user().lastName}`}}</p>
  </div>
</div>
