<div
  class="h-full w-full bg-secondary flex justify-center items-center text-info overflow-hidden relative"
  (wheel)="onWheel($event)"
  (dblclick)="resetZoom()"
  (touchstart)="onTouchStart($event)"
  (touchmove)="onTouchMove($event)"
>
  <button
    class="bg-primary fixed right-0 top-0 m-3 rounded-3xl p-1.5 z-20"
    (click)="closeViewer()"
    [innerHTML]="getIcon('xIcon')"
  ></button>

  <img
    #zoomImage
    [src]="content?.imageUrl"
    alt="Content image"
    draggable="false"
    [style.transform]="'translate(' + offsetX + 'px, ' + offsetY + 'px) scale(' + zoom + ')'"
    [style.transition]="zoomTransition"
    class="max-w-full max-h-full object-contain z-10 touch-none"
    (mousedown)="startPan($event)"
    (mousemove)="onPan($event)"
    (mouseup)="endPan()"
    (mouseleave)="endPan()"
    (touchstart)="onTouchStart($event)"
    (touchmove)="onTouchMove($event)"
    (touchend)="endPan()"
    />

</div>
